<!DOCTYPE html>
<html>
<head>
  <title>Sinatra RPS</title>
</head>

<body>
  <div>
    <div><a href="/rock">Rock</a></div>
    <div><a href="/paper">Paper</a></div>
    <div><a href="/scissors">Scissors</a></div>
  </div>
  <%= yield %>
</body>
</html>
